<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mbr.MemberMapper">
	<!-- package라서 .으로 주소 이어짐(확장자 .java 임) -->
	<!-- CUD는 리턴타입 void -->
<select id="pagination">
	  "SELECT * FROM ( 
				SELECT ROWNUM NO, A.* 
				FROM ( 
				SELECT * 
				FROM MEMBER 
				WHERE %s LIKE ? ) A 
				ORDER BY NO DESC) B 
				WHERE NO BETWEEN ? AND ?
	</select>
	
	
	
	
	<insert id="post">
		INSERT INTO MEMBER (USERID, NAME, SSN, PASSWORD,
		TEAMID, ROLL,GENDER, AGE, SUBJECT)
		VALUES
		(#{userid},#{name},#{ssn},#{password},#{teamId},#{roll},#{gender},#{age},#{subject})
	</insert>
	<select id="get" resultType="com.gms.web.mbr.Member">
		<!-- MemberMapper.java의 메소드와 동일하게 -->
		SELECT USERID, NAME, SSN, PASSWORD,
		TEAMID, ROLL,GENDER, AGE, SUBJECT FROM MEMBER
		<where>
			<if test=" userid != null and userid != '' ">
				USERID LIKE #{userid}
			</if>
			<if test=" password != null and password !='' ">
				AND PASSWORD LIKE #{password}
			</if>
		</where>
	</select>
	
	
	
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	<update id="update">
		UPDATE MEMBER 
		SET
		PASSWORD = #{password}
		,ROLL = #{roll}
		,TEAMID = #{teamId}
		WHERE USERID LIKE #{userid}
	</update>
	<delete id="delete">
		DELETE FROM MEMBER
		WHERE USERID LIKE #{userid}
		AND
		PASSWORD LIKE #{password}
	</delete>
	<select id="login" resultType="string">
		<!-- MemberMapper.java의 메소드와 동일하게 -->
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID LIKE #{userid}
		AND PASSWORD
		LIKE #{password}
	</select>
	<select id="exist" resultType="string">
		<!-- MemberMapper.java의 메소드와 동일하게 -->
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID LIKE #{userid}
	</select>
</mapper>