<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mapper.MemberMapper">
	<!-- package라서 .으로 주소 이어짐(확장자 .java 임) -->
	<!-- CUD는 리턴타입 void -->

	<insert id="insert">
		INSERT INTO MEMBER (USERID, NAME, SSN, PASSWORD,
		TEAMID, ROLL,GENDER, AGE, SUBJECT)
		VALUES
		(#{userid},#{name},#{ssn},#{password},#{teamId},#{roll},#{gender},#{age},#{subject})
	</insert>
	<select id="selectSome" resultType="map">
		<!-- " SELECT T.* FROM (SELECT ROWNUM SEQ, " + " M.* " + " FROM MEMBER 
			M " + " ORDER BY SEQ DESC) T " + " WHERE T.SEQ BETWEEN ? AND ? "; -->
	</select>
	<select id="selectOne" resultType="com.gms.web.domain.MemberDTO">
		<!-- MemberMapper.java의 메소드와 동일하게 -->
		SELECT * FROM MEMBER
		WHERE USERID LIKE #{userid}
	</select>
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	<update id="update">
		UPDATE MEMBER 
		SET
		PASSWORD = #{password}
		,ROLL = #{roll}
		,TEAMID = #{teamId}
		WHERE USERID LIKE #{userid}
	</update>
	<delete id="delete">
		DELETE FROM MEMBER
		WHERE USERID LIKE #{userid}
		AND
		PASSWORD LIKE #{password}
	</delete>
	<select id="login" resultType="string">
		<!-- MemberMapper.java의 메소드와 동일하게 -->
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID LIKE #{userid}
		AND PASSWORD
		LIKE #{password}
	</select>
</mapper>